* {
	box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%}
.col-3 {width: 25%}
.col-4 {width: 33.33%}
.col-5 {width: 41.66%}
.col-6 {width: 50%}
.col-7 {width: 58.33%}
.col-8 {width: 66.66%}
.col-9 {width: 75%}
.col-10 {width: 83.33%}
.col-11 {width: 91.66%}
.col-12 {width: 100%}

[class*='col-'] {
	float: left;
	border: 1px solid gray;
	box-sizing: border-box;
}

.row:after {
	content: '';
	clear: both;
	display: block;
}

.wrapper {
	width: 80%;
	height: auto;
	margin: 0 auto;
}

.header-height { height: 200px }
.menu-height { height: 50px }
.content-height { height: 600px }
.big-footer-height { height: 250px }
.footer-height { height: 40px }

.main-ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.main-ul > li {
	float: left;
	width: 120px;
	border: 1px solid gray;
}
.main-ul > li >a {
	display: block;
	text-decoration: none;
	text-align: center;
	height: 47px;
	padding: 15px;
	background-color: black;
	color: white;
	transition: 1s;
}
.main-ul > li > a:hover {
	background-color: white;
	color: black;
}

/*.div-one {*/
	/*height: 100px;*/
	/*width: 200px;*/
	/*background-color: red;*/
	/*margin: 50px 0 0 50px;*/
	/*!*border-radius: 100px 100px 0px 0px;*!*/
	/*transform: skewY(25deg);*/
	/*float: left;*/
/*}*/
/*.div-two{*/
	/*height: 100px;*/
	/*width: 200px;*/
	/*background-color: red;*/
	/*margin: 50px 0 0 5px;*/
	/*!*border-radius: 100px 100px 0px 0px;*!*/
	/*transform: skewY(-25deg);*/
	/*float: left;*/
/*}*/

.div-one {
	height: 200px;
	width: 200px;
	/*background-color: red;*/
	margin: 50px 0 0 50px;
	/*border-radius: 100px 100px 0px 0px;*/
	float: left;
	border: 1px solid red;
	border-radius: 0px 100px 100px 0px;
	/*transform: skew(-30deg);*/
}
/*.div-two{*/
	/*height: 200px;*/
	/*width: 20px;*/
	/*background-color: red;*/
	/*margin: 50px 0 0 100px;*/
	/*!*border-radius: 100px 100px 0px 0px;*!*/
	/*float: left;*/
	/*transform: skew(30deg);*/
/*}*/